<% short_link_path = "/s/#{@short_link.shortened_url_key}" %>
<% admin_link_path = "/a/#{@short_link.admin_url_key}" %>
<% short_link_url = "#{request.host_with_port}#{short_link_path}"%>
<% admin_link_url = "#{request.host_with_port}#{admin_link_path}" %>

<div>
  <dl>
    <dt>Shortened URL:</dt>
    <dd><%= link_to short_link_url, short_link_path, data: { turbolinks: false } %></dd>

    <dt>Admin URL:</dt>
    <dd><%= link_to admin_link_url, admin_link_path %></dd>
  </dl>
</div>
