<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A link shortener web application similar to TinyUrl and Bitly">
    <meta name="author" content="Linus Phan">
    <%= csrf_meta_tags %>

    <title>Link Shortener</title>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
